version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres_urlShorter
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_urlShorter
    restart: always
    ports:
      - "5672:5672"   # app
      - "15672:15672" # painel web
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  redis:
    image: redis:7
    container_name: redis_urlShorter
    restart: always
    ports:
      - "6379:6379"

volumes:
  pgdata: